<div class="top-part" id="t-part">

<div class="wrapper">

  <header role="banner">
    <nav role="navigation">
      <ul class="nav-ul">
        <li><img class="logo_menu" src="https://1.bp.blogspot.com/-Nndau6G_52s/YFPdcibC0nI/AAAAAAAAAAM/FmJSgp-E23cvTvG61ymaLzRxzyfRkK24QCLcBGAsYHQ/s0/marine_logo.png" alt="Marine Solutions" /></li>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Technologies</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Contacts</a></li>
      </ul>
    </nav>
  </header>
  <main role="main">
   
    <section class="sec-boxes" role="section">
      <article class="box">
        <h1>What do we do?</h1>
        <p>Marine Solutions is a specialized construction and engineering firm focused on building and maintaining waterfront, hydraulic, navigation, and bridge structures. We are a certified small, woman-owned, disadvantaged business enterprise (WBE/DBE) and are fully insured for general, marine, and professional liability. Our headquarters are in Kentucky with offices in Maryland, New Jersey, New York, and Ohio. We offer our services throughout the United States and our valued clients include federal, state and municipal agencies, architectural and engineering firms, construction companies, and industrial entities.</p>
        <button class="button" type="button" role="button" value="MORE">More</button>
      </article>
   
    </section>
  </main>
</div>
</div>
  <div class="wrapper">
    <section class="sec-events" role="section">

      <hr />
      <h1>Projects</h1>
      <article>
        <h1>Opportunities</h1>
        <p>Marine Solutions reputation for providing reliable and comprehensive services is due in part to our versatility and willingness to work beyond the norm. We offer proficient, complete project solutions for clients performed with a higher level of professionalism and quality.</p>
        <a class="link" href="#">more...</a>
      </article>
      <article>
        <h1>Delivery</h1>
        <p>We focus on providing product value for all of our services. Our projects have encompassed a broad range of solutions from inspection to design, to construction, on an even wider range of projects, on an ever expanding national and international footprint.</p>
        <a class="link" href="#">more...</a>
      </article>
   
    </section>
    <section class="sec-projects" role="section">
      <hr />
      <h1>Safety</h1>
      <article>
        <h1>Safety approach</h1>
        <p>Marine Solutions' top priority is safety. Our safety assurance plans are built upon experience and knowledge of the applicable hazards and providing the right personnel and equipment for specific tasks. Our approach to safety includes company-wide employee training, project job safety kickoffs, daily safety meetings, monthly safety briefings, project safety plans and frequent project audits.<a class="link" href="#">more...</a></p>
      </article>
      <article>
        <h1>ADCI Standards</h1>
        <p>Our diving practices are performed in accordance with OSHA Commercial Diving Regulations, U.S. Army Corps of Engineers Engineering Manual 385-1-1, Association of Diving Contractors International (ADCI) standards and applicable state and federal regulations. Our safety program has been accepted by numerous organizations with stringent safety requirements including the U.S. Army Corps of Engineers (USACE), the U.S. Navy, and the U.S. Coast Guard. <a class="link" href="#">more...</a></p>
      </article>
    </section>
    <section class="sec-standards" role="section">
      <hr />
      <article>
        <h1>Services</h1>
        <p>Marine Solutions carries a reputation of exceptional performance. We are a client-focused organization determined to solve problems and provide a best value approach to every service offered. This is accomplished by providing effective solutions, efficiently, on schedule, and within budget. </p>
        
      </article>
    
    </section>
   

</div>
<div>
  <footer>
      <div class="footer_content">
          <div class="footer_section info">
              <p><b>Get in touch!</b></p>
              <div class="footer_section location">
              
                marinesolutions@gmail.com
                <br>
                604-xxx-xxxx
    
            </div>
        
          </div>
          <hr/>
          <div class="footer_section location">
              <p><b>Location</b></p>
            
              Marine Solutions
              <br>
              Granville
              <br>
              Vancouver Port, BC
  
          </div>
      
      </div>
      <div class="footer_bottom">
          © Copyright 2021.
          <span class="new">All rights reserved.</span>
      </div>

  </footer>

</div>
